{% extends "base.html" %}
{% block content %}
<div class="generic-info">
    <table class="table">
        <tr>
            <th>#</th>
            <th>Item title</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total Item Price</th>
        </tr>
        {% for item in cart %}
        {% with cart_item=item.item %}
        <tr>
            <th>{{ forloop.counter }}</th>
            <td><a href="{{ cart_item.get_absolute_url }}">{{ cart_item.title }}</a>{% if item.size %} - {{ item.size }}{% endif %}</td>
            <td>{{ cart_item.actual_price }}</td>

            <td class='quantity' data-objectid="{{ cart_item.id }}" data-size="{{ item.size }}">
            <a class="remove_one" href="#" data-url="{% url 'cart:remove_one_cart' cart_item.id item.size %}"><i class="fas fa-minus"></i></a>
                <span>{{ item.quantity }}</span>
            <a class="add_to_cart" href="#" data-url="{% url 'cart:add_to_cart_size' cart_item.id item.size %}"><i class="fas fa-plus"></i></a>
            </td>
            <td class="item_total">${{ item.total_price }}
            </td>
            <td><a href="{% url 'cart:remove_item_cart' cart_item.id item.size %} "><i class="far fa-trash-alt"></i></a></td>
        </tr>
        {% endwith %}
        {% empty %}
        <td></td>
        <td></td>
        <td></td>
        <td>Your cart is empty</td>
        <td></td>
        <td></td>
        {% endfor %}
        <tr class="total">
            <td></td>
            <td><b>Order Total</b></td>
            <td></td>
            <td class='tot-quantity' id='total_cart_quantity'>
                <b>{{ cart|length }}</b>
            </td>
            <td id='total_cart_price'><b>${{ cart.get_final_price }}</b></td>
        </tr>
        </tbody>
    </table>
    <div class="tablebuttons">
        <a class="continue" href='/'>Continue Shopping</a>
        <a class="checkout" href='#'>Procced to Checkout</a>
    </div>
</div>
{% endblock content %}
{% block extra_body %}
{% endblock extra_body %}