{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block content %}
<div class="generic-info">
    {% for item in cart %}
    {% with cart_item=item.item %}
    <a href="{{ cart_item.get_absolute_url }}">
    <div class="window">
        {% thumbnail cart_item.get_main_photo 280x300 crop="smart" as img %}
        <img src="{{ img.url }}" alt="">
        <div class="info">
            <p class="category">{{ cart_item.get_section_display }}</p>
            <p class="item-name">{{ cart_item.title }} {% if item.size %} - {{ item.size }}{% endif %}</p>
            <p class="quantity">{{ item.quantity }} pieces</p>
            <p class="price">Total: {{ item.total_price }} $</p>
        </div>
    </div>
    </a>
    <hr>
    {% endwith %}
    {% endfor %}
    <p class='total'>Total price:<span> {{ total }} $</span></p>
    {% if not request.user.is_authenticated %}
    <div class="order-option">
        <a class="login" href="{% url 'account_login' %}?next=/cart/checkout/">Continue as user</a>
    </div>
    <hr>
    {% endif %}
    <form class="address" method=POST>
        {% csrf_token %}
        <div class="input_address">
        <input type="button" id="addresses" name="addresses" value="Copy data from shipping address to billing address">
        </div>
        <div class="shipping">
        <h1>Shipping address</h1>
        {{ shipping_form|crispy }}
        </div>
        <div class="billing">
        <h1>Billing address</h1>
        {{ billing_form|crispy }}
        </div>
        <button class="submit" id="submit" type="submit">Continue</button>
    </form>
</div>
{% endblock content %}
{% block extra_body %}
  <script src="{% static 'js/copy_address.js' %}"></script>
{% endblock extra_body %}
