{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block content %}
<div class="generic-info">
    {% for item in cart %}
    {% with cart_item=item.item %}
    <a href="{{ cart_item.get_absolute_url }}">
    <div class="window">
        {% thumbnail cart_item.get_main_photo 280x300 crop="smart" as img %}
        <img src="{{ img.url }}" alt="">
        <div class="info">
            <p class="category">{{ cart_item.get_section_display }}</p>
            <p class="item-name">{{ cart_item.title }} {% if item.size %} - {{ item.size }}{% endif %}</p>
            <p class="quantity">{{ item.quantity }} pieces</p>
            <p class="price">Total: {{ item.total_price }} $</p>
        </div>
    </div>
    </a>
    <hr>
    {% endwith %}
    {% endfor %}
    <div class="window" id='code' {% if not cart.coupon %} style="display:none" {% endif %}>
        {% if cart.coupon %}
        <img src="{{ cart.coupon.get_image }}" alt="">
        <div class="info">
            <p class="item-name">Coupon - {{ cart.coupon.code }}</p>
            <p class="quantity">Coupon for {{ cart.coupon.discount }}% off</p>
            <p class="price">- {{ cart.get_discount }} $</p>
        </div>
        {% endif %}
    </div>
    <p class="message" id="message-coupon" style="display:none">Coupon doesn't exists or is expired</p>
    <p class='total'>Total price:<span> ${{ cart.get_final_price }} {% if cart.coupon %} - <span style="color:red;">${{ cart.get_discount|floatformat:2 }}</span> = ${{ cart.get_final_discount_price|floatformat:2 }} {% endif %}</p>
    <div class="formsets">
    <form data-url="{% url 'coupons:apply' %}" method="Post" class="promo" id="code_form" >
        {{ coupon_form }}
        <input type="submit" value="Apply" name="apply">
        {% csrf_token %}
    </form>
    <form action="{% url 'coupons:delete' %}" method="Post" class="delete-promo">
        <input type="submit" value="Delete" name="delete">
        {% csrf_token %}
    </form>
    </div>
    {% if not request.user.is_authenticated %}
    <div class="order-option">
        <a class="login" href="{% url 'account_login' %}?next=/cart/checkout/">Continue as user</a>
    </div>
    <hr>
    {% endif %}
    <form class="address" method=POST>
        {% csrf_token %}
        <div class="input_address">
        <input type="button" id="addresses" name="addresses" value="Copy data from shipping address to billing address">
        </div>
        <div class="shipping">
        <h1>Shipping address</h1>
        {{ shipping_form|crispy }}
        </div>
        <div class="billing">
        <h1>Billing address</h1>
        {{ billing_form|crispy }}
        </div>
        <button class="submit" id="submit" type="submit">Continue</button>
    </form>
</div>
{% endblock content %}
{% block extra_body %}
  <script src="{% static 'js/copy_address.js' %}"></script>
{% endblock extra_body %}
