{% extends "base.html" %}
{% load i18n %}

{% block head_title %} {% blocktrans with id=order.id%} Order {{ id }} {% endblocktrans %} {% endblock head_title %}

{% block content %}
<div class="generic-info">
<h1>{% trans "Thank you for placing order!" %}</h1>
<h2>{% blocktrans with id=order.id %}Your order-{{ id }} has been paid {% endblocktrans %}</h2>
<p>{% blocktrans with email=order.get_email %}Details has been sent to your email: {{ email }}{% endblocktrans %}</p>
<a href="/">{% trans "Back to home" %}</a>
</div>
{% endblock content %}
