{% extends "base.html" %}
{% load static %}

{% block content %}
    <section class="maininfos">
        <div class="photos">
            <ul id="lightSlider">
                {% for img in object.images.all %}
                {% with url=img.image.url %}
                <li data-thumb="{{ url }}">
                    <img src="{{ url }}">
                </li>
                {% endwith %}
                {% endfor %}
            </ul>
        </div>
        <div class="infos">
            <p class="title">
                {{ object.title }}
            </p>
            <p class="price">
                Price:
                {% if object.discount_price %}
                <span class="amount">{{ object.discount_price }}$</span>
                {% else %}
                <span class="amount">{{ object.price }}$</span>
                {% endif %}
            </p>
            <div class="sizes">
                <form action="{% url 'cart:add_to_cart' item_id=object.id %}" method="POST">
                    {% csrf_token %}
                {% if object.category.need_sizes %}
                    {% for size in object.sizes.all %}
                    {% with size_size=size.size %}
                    <input type="radio" name="size" value="{{ size_size }}" id="{{ size_size }}" {% if not size.quantity %} disabled {% endif %}>
                    <label for="{{ size_size }}"><span>{{ size_size }}</span></label>
                    {% endwith %}
                    {% endfor %}
                {% endif %}
                <button class='submit' id="sizeBtn" type="submit">Add to cart<i class="fas fa-cart-arrow-down"></i></button>
                </form>
            </div>
            <table>
                <tbody>
                    <tr><th>Availability:</th><td>
                        Shipping in 48 hours</td></tr>
                    {% if object.category.need_sizes %}
                    <tr><th>Type:</th><td>{{ object.category.name }}</td></tr>
                    <tr><th>Color:</th><td>{{ object.color }}</td></tr>
                    {% else %}
                    <tr><th>Type:</th><td>{{ object.category.name }}</td></tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </section>
    <section class="tabs">
        <button class="tablinks active">Description</button>
        <button class="tablinks">Shipment and Returns</button>
    </section>
    <div class="decription-shipment">
        <div class="description active">
            <p class="title"><strong>{{ object.title }}</strong></p>
            <p class="text">{{ object.description|safe }}</p>
        </div>
        <div class="shipment">
            <p class="text">
                {{ company.delivery|safe }}
                <hr>
                {{ company.returns|safe }}
            </p>
        </div>
    </div>
    <div class="others">
        <button class="active">Others</button>
        <ul id="responsive">
            {% for item in item_list %}
                <li class="card">
                    {% include "snippets/item_snippet.html" %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}

{% block extra_body %}
<script src="{% static 'js/detailSliders.js' %}"></script>
{% endblock extra_body %}