{% extends "base.html" %}
{% load i18n %}

{% block head_title %} {{ section|capfirst }} {% endblock head_title %}

{% block content %}
<div class="generic-info">
    <div class="companyinfo">
        {% if section == 'privacy' %}
        {{ company.privacy|safe }}
        {% elif section == 'delivery' %}
        {{ company.delivery|safe }}
        {% elif section == 'returns' %}
        {{ company.returns|safe }}
        {% elif section == 'contact_us' %}
        {{ company.contact_us|safe }}
        {% elif section == 'jobs' %}
        {{ company.jobs|safe }}
        {% endif %}
    </div>
</div>
{% endblock content %}
