{% extends "base.html" %}
{% load i18n %}

{% block head_title %} {% trans 'Home' %} {% endblock head_title %}

{% block content %}
{% include 'snippets/sort_bar.html' %}
<div class="product-list">
    <h3 class="category">{{ title }}</h3>
</div>
<div class="row">
    {% for item in items %}
        {% include "snippets/item_snippet.html" %}
    {% empty %}
    <h1>{% trans 'Unfortunately nothing to see here. Back to' %} <a href="{% url 'items:home' %}"><strong>{% trans 'main page' %}</strong></a></h1>
    {% endfor %}
</div>
{% include "snippets/pagination.html" %}
{% endblock content %}
