<a href="{{ item.get_absolute_url }}">
    <div class="card">
        <div class="photo">
            <img src="{{ item.get_main_photo }}" alt="">
        </div>
        <div class="body">
            <p class="category">{{ item.get_category_display }}</p>
            <p class="item-name">{{ item.title }}</p>
            <hr>
            {% if item.discount_price %}
            <del><p class="price">{{ item.price }}</p></del>
            <p class="discount_price">{{ item.discount_price }}</p>
            {% else %}
            <p class="price">{{ item.price }}</p>
            {% endif %}
        </div>
    </div>
</a>