    <!-- NAVBAR -->
    {% load static %}
    {% load common_tags %}
    <nav>
        <p class="number"><span class="nr" type=>{{ company.phone }}</span><span class="nrinfo">(Helpline opening hours: {{ company.start_time }} - {{ company.end_time }})</span></p>
        <p class="infos"><a href="{% url 'cart:cart_detail' %}" class="basket">{% if not cart.is_empty %}<span class="cart_nr">{{ cart|length }}</span>{% endif %}<i class="fa fa-shopping-basket" aria-hidden="true"></i>Basket</a><span class="forusers">{% if user.is_authenticated %}<a href="#" class="history">My history</a><a  href="{% url 'account_logout' %}" class="logout">Logout</a>{% else %}<a  href="{% url 'account_login' %}" class="join">Login</a><a href="{% url 'account_signup' %}" class="register">Register</a>{% endif %}</span></p>
    </nav>
    <header>
        {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li class="{{ message.tags }}">{{ message }}<span class="close">x</span></li>
        {% endfor %}
    </ul>
    {% endif %}
        <a href="{% url 'items:home' %}" class="logo">
        <p class="name"><span class="first">Serious</span><span class="second">Shop</span><span class="third">We care...</span></p></a>
    </header>
    <section class="search">
        <form action="{% url 'items:search_results' %}" method="GET">
            <input name='search' type="text" placeholder="What you're looking for?">
            <button type="Submit"><i class="fas fa-search"></i></button>
        </form>
    </section>
    <section class="choice">
        <a href=""><i class="fas fa-bars"></i></a>
        <div class="wrapper">
            {% for section in sections %}
            <div class="dropdown">
            <a href="{% url 'items:section_list_item' section.1|lower %}" class="category">{{ section.1 }}</a>
                <div class="dropdown-content">
                    {% in_cat section.0 as cat_list %}
                    {% for category in cat_list %}
                        <a href="{% url 'items:section_category_list_item' section.1|lower category.slug %}">{{ category.name }}</a>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </section>
    <!-- /NAVBAR/ -->

